<div class="movies-grid-wrapper">
    <div class="movies-grid">
      {{#each movies as |movie| }}

        {{#if movie.posterPath}}
          {{#link-to 'movie' movie.id class="tile"}}
              <img class="poster"
                   src="{{movie.posters.w185}}"
                   alt="{{movie.title}}">
              <div class="title">
                {{movie.title}}
              </div>
            {{#if movie.releaseYear}}
                <div class="year">
                  {{movie.releaseYear}}
                </div>
            {{/if}}
            {{#if movie.adult}}
                <div class="adult"></div>
            {{/if}}
          {{/link-to}}
        {{/if}}
      {{/each}}
    </div>
  {{#if needPaginate}}
      <nav>
          <ul class="pagination pagination-sm">

            {{#if (ifCond currentPage '>' 1)}}
                <li>
                  {{#link-to (query-params page=(dec currentPage)) aria-label="Previous"}}
                      <span aria-hidden="true">&laquo;</span>
                  {{/link-to}}
                </li>
            {{else}}
              <li class="disabled">
                  <a href="#">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
            {{/if}}


            {{#each pages as |page|}}
              <li class="{{if (ifCond page '==' currentPage) 'active'}}">
                {{#link-to (query-params page=page)}}
                  {{page}}
                {{/link-to}}
              </li>
            {{/each}}

            {{#if (ifCond currentPage '<' pages.length)}}
                <li>
                  {{#link-to (query-params page=(inc currentPage)) aria-label="Previous"}}
                      <span aria-hidden="true">&raquo;</span>
                  {{/link-to}}
                </li>
            {{else}}
                <li class="disabled">
                    <span aria-hidden="true">&raquo;</span>
                </li>
            {{/if}}


          </ul>
      </nav>
  {{/if}}

</div>