body {
  padding-bottom: 50px;

  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0, linear-gradient(27deg, #222 5px, transparent 5px) 0 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;

  color: #fff;
}

.container {
  max-width: 1110px;
}

h3 {
  text-align: center;
  margin-bottom: 15px;
}

// APP HEADER
#app_header {
  .search-col {
    .input-wrapper {
      position: relative;

      &:after {
        font-family: 'Glyphicons Halflings';
        content: "\e003";
        height: 100%;
        line-height: 34px;
        position: absolute;
        top: 0;
        right: 10px;
      }

      input {
        margin-top: 20px;
      }
    }
  }

  .back-button {
    margin-bottom: 15px;
  }
}

//- APP HEADER

// MOVIES GRID

.movies-grid-wrapper {
  width: 100%;
  text-align: center;
}

.movies-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .tile {
    position: relative;
    display: block;
    width: 185px;
    height: 278px;
    vertical-align: top;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;

    .poster {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
    }

    .title {
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      min-height: 3.5em;
      padding: 0.2em 10px 0 30px;

      line-height: 1.1em;
      font-size: 15px;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      background: rgba(0, 0, 0, 0.4);
      text-align: center;
      vertical-align: middle;
    }

    .year {
      position: absolute;
      top: 12px;
      left: -7px;
      font-size: 20px;
      color: white;
      transform: rotate(-90deg);
    }
  }
}

//- MOVIES GRID

// MOVIE FULL
.movie-full {

  h3 {
    text-align: left;
  }

  font-size: 16px;
  .comma-separated-spans span {
    &:after {
      content: ', ';
    }

    &:last-of-type {
      &:after {
        content: '';
      }
    }
  }

  table {
    td {
      padding-right: 20px;
      padding-bottom: 5px;
    }
  }

  .overview {
    padding-top: 20px;
    text-align: justify;
  }
}

//- MOVIE FULL






































