<header id="app_header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-9 col-xs-12">
                <h2><a href="/">How about search movies?</a></h2>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-3 col-xs-12 search-col">
              {{search-component action="search"}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              {{#if hasHistory}}
                  <button {{action 'goBack'}} class="btn btn-default back-button">
                    {{fa-icon 'fa-arrow-left'}} Go back
                  </button>
              {{/if}}
            </div>
        </div>
    </div>
</header>

<div class="container">

  {{outlet}}
</div>
