<div class="row">

</div>

<div class="row movie-full">
    <div class="col-lg-5">
        <img src="{{model.posters.w500}}"
             alt="{{model.title}}" width="100%">
    </div>
    <div class="col-ld-7">
        <h3>{{model.title}}</h3>

        <table>
            <tr>
                <td>Оригинальный заголовок:</td>
                <td>{{model.originalTitle}} ({{model.originalLanguage}})</td>
            </tr>
            <tr>
                <td>Год:</td>
                <td>{{model.releaseYear}}</td>
            </tr>
            <tr>
                <td>Страна:</td>
                <td class="comma-separated-spans">
                  {{#each model.countries as |country| }}
                      <span>{{country.name}}</span>
                  {{/each}}
                </td>
            </tr>
          {{#if model.tagline}}
              <tr>
                  <td>Слоган:</td>
                  <td>{{model.tagline}}</td>
              </tr>
          {{/if}}
          {{#if model.genres.length}}
              <tr>
                  <td>Жанр:</td>
                  <td class="comma-separated-spans">
                    {{#each model.genres as |genre| }}
                        <span>{{genre.name}}</span>
                    {{/each}}
                  </td>
              </tr>
          {{/if}}
            <tr>
                <td>Дата релиза:</td>
                <td>{{model.releaseDate}}</td>
            </tr>
            <tr>
                <td colspan="2" class="overview">
                  {{model.overview}}
                </td>
            </tr>

        </table>
    </div>
</div>